
    <h3>Lista de professores: </h3><br>
    <fieldset>
        <legend>Confira abaixo: </legend>
        <ul>
            {{#each profs}}
            <li>{{nome}} - sala {{sala}}</li>
            {{/each}}
        </ul>
    </fieldset>
    

